@page
@model WEB_SIS_2.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Reviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Reviews)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Review.Id">Edit</a> |
    <a asp-page="./Index2">Back to List</a>
</div>
