@page
@model IndexModel
@{ ViewData["Title"] = "HOME PAGE"; }

<div class="index-text">
    <h1>Welcome to "God games"</h1>
</div>
<div class="center home">
    <div id="slider">
        <div id="strip">
            <img src="/images/im0.jpg" alt="" />
            <img src="/images/im1.jpg" alt="" />
            <img src="/images/im2.jpg" alt="" />
            <img src="/images/im3.jpg" alt="" />
            <img src="/images/im4.jpg" alt="" />
            <img src="/images/im5.jpg" alt="" />
            <img src="/images/im6.jpg" alt="" />
            <img src="/images/im7.jpg" alt="" />
        </div>
    </div>

    <div class="knopka_destination">
        <button class="knopka" id="slider-next">Next</button>

    </div>
    <hr />

    <h3>Отзывы:</h3>
    @{ string[] games = { "Андрей Кульянов: Мне очень понравилась игра NFC Undeground2", "Асхат Жакс : Конечно, сайт сыроват, много багов, фризов, но в целом мне сайт очень нравиться,здесь очень большой выбор бесплатных игр", "Дильназ :  Тут многоо вирусов. Хорошо подумайте перед тем как что-то устанавливать себе на комп." }; }
    <div class="alert-secondary m-4" style="background-image:url(/wwwroot/Users/fon.jpeg) ">
        @Html.CreateList(games, "square")
    <hr />
    </div>
</div>

